:root {
    --size :2.5em;
}
*::before,
*::after,
* {
    margin: 0;
    box-sizing:  border-box;
}


.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.archery {
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.ring {
    padding: var(--size);
    border-radius: 50%;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.red {
    background-color:red;
}
.yellow {
    background-color: yellow;
}