#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
*{
  text-decoration: none;
  list-style: none;
}


.read-the-docs {
  color: #888;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background: brown;
  flex-wrap: wrap;
  height: 82px;
}
.vida{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: center;
}
.video{
  width: 580px;
  height: 320px;
  background: white;
  border-radius: 5%;
  margin-top: 36px;
  margin-bottom: 30px;
  background-image: url('src/assets/background.avif');
}
.category{
  background: black;
    height: 285px;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.c-child{
    width: 127px;
    border: 1px solid;
    border-radius: 3%;
    height: 237px;
    font-size: larger;
    font-family: none;
    font-weight: bold;
}
.first{
  background-image: url('src/assets/drug.jpeg');
  background-repeat: no-repeat;
  background-size:139px 239px;
}
.sec{
  background-image: url('src/assets/alcohol.jpeg');
  background-repeat: no-repeat;
  background-size: 139px 238px;
}
.third{
  background-image: url('src/assets/stress.jpeg');
  background-repeat: no-repeat;
  background-size:139px 238px;
}
